{% extends 'layout/base.html' %}

{% block _content %}
<h3 class="mt-3 text-center">Login</h3>
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <form action="" method="post">
            
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Masukkan Username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Masukkan Password" required>
            </div>
            
            
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <p>Belum punya Akun ? <a href="{{url_for('authapp.register')}}">Daftar Sekarang</a></p>
    </div>
</div>
{% endblock %}